<nav class="navbar">
  <div class="navbar-container">
    <div class="navbar-content">
      <!-- Logo Section -->
      <div class="logo-container">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          viewBox="0 0 24 24"
          fill="none"
          stroke="yellow"
          stroke-width="3"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-flame logo-icon"
        >
          <path
            d="M8.5 14.5A2.5 2.5 0 0 0 11 12c0-1.38-.5-2-1-3-1.072-2.143-.224-4.054 2-6 .5 2.5 2 4.9 4 6.5 2 1.6 3 3.5 3 5.5a7 7 0 1 1-14 0c0-1.153.433-2.294 1-3a2.5 2.5 0 0 0 2.5 2.5z"
          />
        </svg>
        <span class="logo-text">Alerta Incendio</span>
      </div>

      <div
        class="nav-links"
        [ngClass]="{ 'mobile-menu-open': isMobileMenuOpen }"
      >
        @switch (userRole) { @case ('admin') {
        <a routerLink="/home" routerLinkActive="active">INICIO</a>
        <a routerLink="/maps" routerLinkActive="active">MAPAS</a>
        <a routerLink="/users" routerLinkActive="active">USUARIOS</a>
        <a routerLink="/analytics" routerLinkActive="active">ESTADÍSTICAS</a>
        } @case ('member') {
        <a routerLink="/home" routerLinkActive="active">INICIO</a>
        <a routerLink="/reports" routerLinkActive="active">INCENDIOS</a>
        } @default {
        <a routerLink="/home" routerLinkActive="active">INICIO</a>
        <a routerLink="/maps" routerLinkActive="active">REPORTAR</a>
        } }
      </div>

      <button
        class="menu-button"
        (click)="toggleMobileMenu()"
        aria-label="Toggle Mobile Menu"
      >
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
  </div>
</nav>
