<div class="background-image">
  <div class="text-container">
    <h1>ALERTA INCENDIO</h1>
    <p>Sistema de Gestión de Incendios</p>
  </div>
  <div class="logo-container">
    <div class="logo-wrapper">
      <img src="assets/img/logo5.jpeg" alt="Logo 1" class="logo" />
    </div>
    <div class="logo-wrapper">
      <img src="assets/img/logo2.jpeg" alt="Logo 2" class="logo" />
    </div>
    <div class="logo-wrapper">
      <img src="assets/img/logo3.jpeg" alt="Logo 3" class="logo" />
    </div>
    <div class="logo-wrapper">
      <img src="assets/img/logo4.jpeg" alt="Logo 4" class="logo" />
    </div>
    <div class="logo-wrapper">
      <img src="assets/img/logo1.jpeg" alt="Logo 5" class="logo" />
    </div>
  </div>
</div>
