.sidebar {
  width: 280px;
  height: 100vh;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  transition: width 0.3s ease;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  overflow-x: hidden;

  &.collapsed {
    width: 70px;

    .top-header h1,
    .menu-item span,
    .menu-group h2 {
      display: none;
    }

    .menu-item {
      justify-content: center;
      padding: 1rem;
    }
  }
}

.top-header {
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(90deg, #0c9911 20%, #30d862 100%);

  h1 {
    margin: 0;
    color: white;
    font-size: 1.50rem;
    font-weight: 600;
    font-family: var(--font-headers);
    font-weight: bolder;
  }
}

.toggle-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.5rem;

  &:hover {
    opacity: 0.7;
  }
}

.nav-menu {
  padding: 0 1rem;
  margin-top: 10px;
}

.menu-group {
  margin-bottom: 2rem;

  h2 {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 1rem;
    padding: 0 0.5rem;
    font-family: var(--font-primary);
  }
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 0.75rem;
  gap: 1rem;
  cursor: pointer;
  border-radius: 8px;
  text-decoration: none;
  color: #1f2937;
  &:hover {
    background: #f3f4f6;
  }

  span {
    font-size: 0.875rem;
    font-family: var(--font-primary);

    &.badge, &.status {
      padding: 0.25rem 0.5rem;
      border-radius: 999px;
      font-size: 0.75rem;
      font-weight: 500;
      margin-left: auto;
    }
  }

  .badge, .status {
    &.danger {
      color: #dc2626;
    }

    &.warning {
      color: #d97706;
    }

    &.success {
      color: #059669;
    }
  }
}

lucide-icon {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
